
body{
  background-color: black;
}


  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

  }
  
  .form input[type=submit] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
 
  }
  
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  
  .form .message {
    margin: 15px 0 0;
    font-size: 12px;
  }
  
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .form .register-form {
    display: none;
  }
  
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  
  .container .info span {
    font-size: 12px;
  }
  
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  
  .container .info span .fa {
    color: #EF3B3A;
  }
  
  body {
    background-color: whitesmoke;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  /* 
  css voor indexhtml */
  
  
  * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 100px auto;
  
  }
  .login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
  }
  .login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
  }
  .login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  
  
  .form input  {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form input[type=submit] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  
  /* //homephp */
  .navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
  }
  .navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
  }
  .navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
  }
  .navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: normal;
    background-color: #2f3947;
  }
  .navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
    background-color:#2f3947;
  }
  .navtop div a i {
    padding: 2px 8px 0 0;
  }
  .navtop div a:hover {
    color: #eaebed;
    background-color: grey;
  }
  body.loggedin {
    background-color: #2f3947;
  }
  .content {
    width: 1000px;
    margin: 0 auto;
  }
  .content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e;
  }
  .content > p, .content > div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: #fff;
  }
  .content > p table td, .content > div table td {
    padding: 5px;
  }
  .content > p table td:first-child, .content > div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
  }
  .content > div p {
    padding: 5px;
    margin: 0 0 10px 0;
  }
  
  .content1 a{
    text-decoration: none;
    color: #000000;
    margin-left: 2%;
  }
  
  ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    width: 970px;
    margin-left: 35px;
    
  }
  
/* extra css van login.php */

#blok{
  margin-top: 300px;
}

form a{
  color: black;
}


